body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #282c34;
    color: white;
}

p
{
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;


}

#typing-container {
    background-color: #1e2127;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

#typing-text1 {
    font-size: 1.5em;
    white-space: pre-wrap;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    line-height: 1.5;
}

.content {
    text-align: center;
    max-width: 800px;
    opacity: 0;
    transition: opacity 1s ease-in;
    background-color: #1e2127;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.fade-in {
    opacity: 1;
}

#game-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.game-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 250px;
}

    .game-icon img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .game-icon span {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        word-wrap: break-word;
    }

@keyframes blink-caret {
    from, to {
        border-right: 0.15em solid transparent;
    }

    50% {
        border-right: 0.15em solid #fff;
    }
}

.typing-cursor {
    border-right: 0.15em solid #fff;
    animation: blink-caret 0.75s step-end infinite;
}
